* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  
 .pri-bg-col {
    background-color: #1a3129 !important;
  }
  
  .sec-bg-col {
    background-color: #234338 !important;
  }
  
  .ter-bg-col {
    background-color: #cbea7b !important;
  }
  
  .pri-text-col {
    color: #1a3129 !important;
  }
  
  .sec-text-col {
    color: #234338;
  }
  
  .ter-text-col {
    color: #cbea7b !important;
  }
  
  header {
    position: fixed;
    top: 0;
    background-color: #234338 !important;
  }
  
  header .topnav {
    border: 2px solid #2c5446;
  }
  
  header .container-fluid {
    border-top: 2px solid #234338;
  }
  
  header .bottomnav ul li a {
    font-size: 14px;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(203, 234, 123, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  @media screen and (max-width: 426px) {
    .top-nav-text {
      font-size: 12px;
    }
  
    .top-nav-text .arrow {
      padding-bottom: 10px;
    }
  
    .top-bar {
      position: relative;
      top: 0;
      left: 0;
      padding-top: 25px;
    }
  
    .top-nav-mobile #left-image-dup {
      position: absolute;
      bottom: -1%;
      left: -19%;
      z-index: -1;
      width: 35%;
    }
  
    .top-nav-mobile #right-image-dup {
      position: absolute;
      bottom: -1%;
      right: -19%;
      z-index: -1;
      width: 35%;
    }
  }
.space {
    margin-top:15%;
}  
.first {
    position: relative;
    width: 40%;
    top: 0;
    left: 0;
}
.second {
     width: 5%;
     position: absolute;
     top: 10%;
     left: 45%;
}
 .bg-color {
     background-color: #f6fbe9;
}
 .Icons {
     background-color: #CBEA7B;
     font-size: 20px;
     border-radius: 5px 5px;
     padding: 10px 20px;
     margin-top: 30px;
     margin-right: 10px;
}
.button {
    background-color: #CBEA7B;
    width: 100%;
}

.boder {
    border: 1px solid #EEF8D3;
}
 .size {
     font-size: 80px;
     position: relative;
     top: 40px;
     color: #45846f;
}
